@import-normalize; /* bring in normalize.css styles */

@font-face {
   font-family: "Inter";
   font-weight: 400;
   src: url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
   font-family: "Inter";
   font-weight: 500;
   src: url("./assets/fonts/Inter-Medium.ttf");
}

@font-face {
   font-family: "Inter";
   font-weight: 600;
   src: url("./assets/fonts/Inter-SemiBold.ttf");
}

:root {
   --primary-color: #101828;
   --secondary-color: #475467;
   --button-color: #e44848;
   --rating-color: #ffc531;
   --input-background-color: #f7f7f7;
   --feature-background-color: #f2f4f7;
}

/* Reset CSS */

*,
*::before,
*::after {
   box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

ul,
ol {
   margin: 0;
   padding-left: 0;
   list-style-type: none;
}

button {
   cursor: pointer;
}

address {
   font-style: normal;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

body {
   margin: 0;
   font-family: "Inter", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: 0.5s;
   font-size: 16px;
   font-weight: 400;
   color: var(--primary-color);
}

body::-webkit-scrollbar {
   width: 6px;
}

body::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 3px;
}

body::-webkit-scrollbar-track {
   background-color: rgba(0, 0, 0, 0.1);
}
