@import-normalize; /* bring in normalize.css styles */

@font-face {
   font-family: "Inter";
   font-weight: 400;
   src: url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
   font-family: "Inter";
   font-weight: 500;
   src: url("./assets/fonts/Inter-Medium.ttf");
}

@font-face {
   font-family: "Inter";
   font-weight: 600;
   src: url("./assets/fonts/Inter-SemiBold.ttf");
}

/* Reset CSS */

*,
*::before,
*::after {
   box-sizing: border-box;
}

ul,
li {
   list-style: none;
}

body {
   margin: 0;
   font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transition: 0.5s;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
